// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea {
	border-bottom: solid 1px #ccc;
	padding: 5px 0;
}

.idea p {
	margin: 4px 0;
}

.idea.hover {
	background: #DCF0F7;
}

.idea .admin {
	display: none;
}

.idea.hover .admin {
	display: inline;
}